<h1>Dashboards#show</h1>
<p>Find me in app/views/dashboards/show.html.erb</p>

<%= form_for @shout do |form| %>
  <%= form.text_field :body, placeholder: "shout here!", required: true %>
  <%= form.submit "Shout!" %>
<% end %>

<%= render @shouts %>
